<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onurelbirlik.sketchygui">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sketchylogo"
        android:label="Sketchy"
        android:roundIcon="@mipmap/sketchylogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".Credits" />
        <activity android:name=".DisplayActivity" />
        <activity android:name=".ImageToLine" />
        <activity android:name=".TakePictureCamera" />
        <activity
            android:name=".CropActivity"
            android:label="@string/title_activity_crop"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>